body{
  background: rgb(2,0,36);
  background: radial-gradient(circle, rgb(0, 75, 33) 0%, rgba(25,25,24,1) 55%, rgb(27, 26, 26) 100%);
}
.masterContainer{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}