.testimonialMain h2{
    text-align: center;
color: #008080;
font-size: 3vw;
padding: 0px;
margin-top: 0px;

}

.testimonialMain{
    display: flex;
    flex-direction: column;
    width: 100%;
    
    align-items: center;
    justify-content: center;
}
.testimonialTests{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90%;
}

.testimonialOne, .testimonialTwo, .testimonialThree{
    width: 100%;
    margin-right: 1vw;
    background: rgba(255, 255, 255, 0.2);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(20px);
-webkit-backdrop-filter: blur(5px);
border: 1px solid rgba(255, 255, 255, 0.3);
font-size: 90%;
color: #7fffd4;
text-align: center;
margin-bottom: 1vw;
align-self: center;
height: 40vh;
display: flex;
flex-direction: column;
vertical-align: center;
  justify-content: center;
  align-items: center;

}


.testimonialOne:hover{
    transform: scale(1.1);
}

.person{
    display: flex;
    flex-direction: column;
    max-width: 100%;
    margin: 0px;
    vertical-align: center;
  justify-content: center;
  align-items: center;
    
}

.person p{
    vertical-align: center;
    text-align: center;
}

.person h3{
    margin-top: 2px;
    vertical-align: center;
}

.person img{
    max-width: 50%;
    opacity: 0.7;
    object-fit: contain;
    align-self: center;
    margin-top: 0px;
    margin-bottom: 2px;
    height: auto;
    max-height: 50%;
}

@media screen and (max-width: 1000px){
    .testimonialTests{
        flex-direction: column;
        align-content: center;
        align-items: center;
    }
    .testimonialOne{
        font-size: small;
        width: 80%;
        margin-left: 1vw;
        margin-right: 1vw;
        height: 100%;
    }
}