.navbar{
    width: 100%;
    height: 3vh;
    display: flex;
    justify-content: center;
    background-color: #008080;
    margin-bottom: 1vh;
    margin-top: 0px;
}

.navbar *{
    margin-right: 1vw;
    cursor: pointer;
    color: #7fffd4;
    font-size: 2vh;
    padding: 0px;
    vertical-align: center;
    object-fit: contain;
}

.navbar h3{
    padding: 0px;
    margin: 0px;
}

.navbar h3:hover{
    animation: wiggle 1s ease-in-out;
}

.link{
    padding: 0px;
    height: 0px;
}



@keyframes wiggle{
    0% {transform: rotate(10deg);}
  25% {transform: rotate(-10deg);}
  50% {transform: rotate(20deg);}
  75% {transform: rotate(-5deg);}
  100% {transform: rotate(0deg);}
}

.link{
    text-decoration: none;
}

@media screen and (max-width: 1000px){
    .navbar{
        height: 3vw;
        margin-bottom: 1vh;
    }
    .navbar *{
        font-size: 2vw;
    }
    

}



